# project specific
bin/
obj/
wasm/
gen/
libh/*.h
src/libh/__pycache__/

vec.out
vec_ref.ndjson

param.h

sha2_iv.c

out
.*

# exceptions
!libh/magic.h
!src/libh/*.py

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
test
vectors
