# project specific
bin/
obj/
gen/
libh/*.h
src/libh/__pycache__/

param.h

sha2_iv.c

out
.*

# exceptions
!libh/magic.h
!src/libh/*.py

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
test
vectors
